<!-- <div th:each="name: ${peopleStack}" td th:text="${name}"></div> -->

<!-- 결과에 개행 생김 <p> -->
<!--
<p th:each="n : ${names}">
    <span th:text="${n}"></span>
</p>-->

<!--
<div th:each="person : ${peopleStack}">
    // <p>Name: <span th:text="${person.num}"></span>, <span th:text="${person.name}"></span></p> 
    <span th:text="${person.num}"></span>, <span th:text="${person.name}"></span>
</div>
-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <h1>Greeting [[${peopleStack.get(0).name}]]</h1>
    
    <ul>
        <li th:each="p : ${peopleStack}">
            <span th:text="'Num: ' + ${p.num}"></span>
            <span th:text="'Name: ' + ${p.name}"></span>
        </li>
    </ul>


    <table border="1">
        <thead>
            <tr>
                <th>Num</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${peopleStack}">
                <td th:text="${p.num}"></td>
                <td th:text="${#strings.capitalize(p.name)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>